<a href="https://colab.research.google.com/github/meetreks/SaiSpark/blob/master/saispark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyspark

In [ ]:
print('Hello World')

In [ ]:
x = 10
y = 5
x + y

In [ ]:
pip install koalas

In [ ]:
import databricks.koalas as ks

In [ ]:
import pandas as pd
pdf = pd.DataFrame({'x':range(3), 'y':['a','b','b'], 'z':['a','b','b']})

# Create a Koalas DataFrame from pandas DataFrame
df = ks.from_pandas(pdf)

# Rename the columns
df.columns = ['x', 'y', 'z1']

# Do some operations in place:
df['x2'] = df.x * df.x

In [ ]:
df.describe()
df.plot.line()

In [ ]:
file_loc = "/FileStore/tables/accepted_2007_to_2018Q4-1.csv"
file_type = "csv"

infer_schema = "true"
first_row = "true"
delimiter = ","

df = spark.read.format(file_type)  \
     .option("inferSchema", infer_schema)  \
     .option("header", first_row)  \
     .option("sep", delimiter)  \
     .load(file_loc)

display(df)

In [ ]:
temp = "stuff"
df.createOrReplaceTempView(temp)

In [ ]:
%sql

select * from stuff

In [ ]:
df.describe().show()

In [ ]:
%sql
select distinct Gender from stuff

In [ ]:
df.stat.cov('CoapplicantIncome', 'LoanAmount')

In [ ]:
file_loc = "/FileStore/tables/accepted_2007_to_2018Q4-1.csv"
file_type = "csv"

infer_schema = "true"
first_row = "true"
delimiter = ","

df = spark.read.format(file_type)  \
     .option("inferSchema", infer_schema)  \
     .option("header", first_row)  \
     .option("sep", delimiter)  \
     .load(file_loc)

display(df)

In [ ]:
temp = "stuff"
df.createOrReplaceTempView(temp)

In [ ]:
%sql

select * from stuff

In [ ]:
stuff_df = spark.table('stuff')
display(stuff_df)

In [ ]:
display(stuff_df.describe())

In [ ]:
%sql

select funded_amnt, grade from stuff group by grade, funded_amnt

In [ ]:
from pyspark.sql.functions import isnan,when,count,col,log
display(stuff_df.groupBy("emp_title").agg((count(col("loan_amnt"))).alias("count")))

In [ ]:
dbutils.fs.unmount("/mnt/s3data")

In [ ]:
import urllib
AWS_K1 = "xxx"
AWS_S1 = "xxx"
ENCODED_SECRET_KEY = urllib.parse.quote(AWS_S1, "")
AWS_BUCKET_NAME = "sai-spark9"
MOUNT_NAME = "s3data"
dbutils.fs.mount("s3n://%s:%s@%s" % (AWS_K1, ENCODED_SECRET_KEY,AWS_BUCKET_NAME), "/mnt/%s" % MOUNT_NAME)

In [ ]:
display(dbutils.fs.ls("/mnt/s3data"))

In [ ]:
file_loc = "dbfs:/mnt/s3data/listings.csv"
file_type = "csv"

infer_schema = "true"
first_row = "true"
delimiter = ","

df = spark.read.format(file_type)  \
     .option("inferSchema", infer_schema)  \
     .option("header", first_row)  \
     .option("sep", delimiter)  \
     .load(file_loc)

display(df)

In [ ]:
display(df.schema)

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *


df_listing=df.withColumn("scrape_id",col("scrape_id").cast(DoubleType()))

In [ ]:
display(df)

In [ ]:
from pyspark.sql.types import *

# File location and type
file_location = "dbfs:/mnt/s3data/neighbourhoods.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

neighbourhoodSchema = StructType([
    StructField("neighbourhood_group", StringType(), True),        
    StructField("neighbourhood", StringType(), True)
])

# The applied options are for CSV files. For other file types, these will be ignored.
df_neighbourhoods = spark.read.format(file_type) \
  .option("infer_schema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df_neighbourhoods)

In [ ]:
# File location and type
file_location = "dbfs:/mnt/s3data/reviews.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df_reviews = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df_reviews)

In [ ]:
%sql

drop table listing

In [ ]:
spark.conf.set("spark.sql.legacy.allowCreateManagedTableUsingNonemptyLocation", "true")
tb_name = "listing"
df.write.format("parquet").saveAsTable(tb_name)

In [ ]:
%sql

drop table neibhour

In [ ]:
spark.conf.set("spark.sql.legacy.allowCreateManagedTableUsingNonemptyLocation", "true")
tb_name = "neibhour"
df_neighbourhoods.write.format("parquet").saveAsTable(tb_name)

In [ ]:
%sql

drop table review

In [ ]:
spark.conf.set("spark.sql.legacy.allowCreateManagedTableUsingNonemptyLocation", "true")
tb_name = "review"
df_reviews.write.format("parquet").saveAsTable(tb_name)

In [ ]:
%sql
select * from listing

In [ ]:
display(df.groupBy('neighbourhood').count())

In [ ]:
df.groupBy('neighbourhood').count().orderBy(col('count').desc()).show()

In [ ]:
df.groupBy('neighbourhood', 'price').agg(({"price": "average"})).show()

In [ ]:
df.printSchema()

In [ ]:
%sql
select distinct price from listing

In [ ]:
from pyspark.sql.types import FloatType
def trunc_stuff(string):
  return string.strip('$')

spark.udf.register("trunc_stuff",trunc_stuff)
trim_func_udf = udf(trunc_stuff)

In [ ]:
import pyspark.sql.functions as f
from pyspark.sql.window import Window
df_neigh = df.groupBy("neighbourhood").agg(({"neighbourhood": "count"})).withColumnRenamed("count(neighbourhood)", "count")
df_neigh = df_neigh.withColumn('percentage',f.round((f.col('count')/f.sum('count').over(Window.partitionBy())*100),3))
display(df_neigh)

In [ ]:
display(df_neigh.orderBy('percentage', ascending=False))

In [ ]:
n_grp=df_neigh.alias("nc").join(df_neighbourhoods.alias("ne")).select("nc.*","ne.neighbourhood_group")
display(n_grp)

In [ ]:
display(n_grp.orderBy('percentage', ascending=False))

In [ ]:
df_reviews.groupBy("listing_id").count().explain()

In [ ]:
x= df.alias("list").join(df_reviews.alias("rev")).select("list.id").groupBy("list.id").count()
display(x.orderBy('count', ascending=False))

In [ ]:
df_reviews.groupBy("listing_id").count().filter(("count") > 30 ).orderBy('count', ascending=False).show()

In [ ]:
display(df_reviews.describe())

In [ ]:
%sql

select distinct listing_id, neighbourhood, price, count(listing_id) over (partition by listing_id order by listing_id) as review_cnt 
from (select listing_id, neighbourhood, price
from listing a left outer join review b on a.id = b.listing_id)

In [ ]:
%sql

select
listing_id, neighbourhood, price, review_cnt, dense_rank() OVER (PARTITION BY neighbourhood ORDER BY review_cnt DESC) as rank
from
(
select distinct listing_id, neighbourhood, price, count(listing_id) over (partition by listing_id order by listing_id) as review_cnt 
from (select listing_id, neighbourhood, price
from listing a left outer join review b on a.id = b.listing_id)
)

In [ ]:
%sql
select
listing_id, neighbourhood, price, review_cnt,rank from 
(
select
listing_id, neighbourhood, price, review_cnt, dense_rank() OVER (PARTITION BY neighbourhood ORDER BY review_cnt DESC) as rank
from
(
select distinct listing_id, neighbourhood, price, count(listing_id) over (partition by listing_id order by listing_id) as review_cnt 
from (select listing_id, neighbourhood, price
from listing a left outer join review b on a.id = b.listing_id)
)) where rank <= 2

In [ ]:
%sql

select room_type, avg(price) as avg_price, count(*) as count from listing group by room_type

In [ ]:
fl = "/FileStore/tables/WA_Fn_UseC__Telco_Customer_Churn.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .option('nanValue', ' ')\
  .option('nullValue', ' ')\
  .load(fl)

display(df)

In [ ]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

In [ ]:
table_name = "churns"
df.createOrReplaceTempView(table_name)

In [ ]:
pd_df = df.toPandas

In [ ]:
df.groupBy('Churn').count().show()

In [ ]:
df.select('tenure','TotalCharges','MonthlyCharges').describe().show()

In [ ]:
df.stat.crosstab("SeniorCitizen", "InternetService").show()

In [ ]:
df.stat.freqItems(["PhoneService", "MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport", "StreamingTV", "StreamingMovies"], 0.6).collect()

In [ ]:
data_prep = df
(train_data, test_data,) = data_prep.randomSplit([0.7, 0.3], 24)

print("Tot Records Train" + str(train_data.count()))
print("Tot Records Test" + str(test_data.count()))

In [ ]:
from pyspark.ml import Pipeline
#from pyspark.ml.feature.OneHotEncoderEstimator import *
from pyspark.ml.feature import StringIndexer, VectorAssembler

catCol=["gender","SeniorCitizen","Partner","Dependents","tenure","PhoneService","MultipleLines","InternetService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies","Contract","PaperlessBilling","PaymentMethod"]

In [ ]:
from pyspark.ml.feature import OneHotEncoder
stages = []

for x in catCol:
  strIndx = StringIndexer(inputCol=x, outputCol=x + "Index")
  encoder = OneHotEncoder(inputCols=[strIndx.getOutputCol()], outputCols=[x + "catVec"])
  stages += [strIndx, encoder]
  
stages

In [ ]:
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=["TotalCharges"], outputCols=["Out_TotalCharges"])
stages += [imputer]

In [ ]:
label_Idx = StringIndexer(inputCol="Churn", outputCol="label")
stages += [label_Idx]

In [ ]:
df.stat.corr('TotalCharges', 'MonthlyCharges')

In [ ]:
%sql
select cast(tenure as int), churn, count(*) as churned from churns where churn='Yes' group by tenure, churn order by cast(tenure as int)

In [ ]:
from pyspark.ml.feature import QuantileDiscretizer
tenure_bin = QuantileDiscretizer(numBuckets=3, inputCol="tenure", outputCol="tenure_bin")
stages += [tenure_bin]

In [ ]:
numericCols = ["tenure_bin", "Out_TotalCharges","MonthlyCharges"]
assembleInputs = assemblerInputs = [c + "catVec" for c in catCol] + numericCols
assembler = VectorAssembler(inputCols=assembleInputs, outputCol="features")
stages += [assembler]

In [ ]:
pipeline = Pipeline().setStages(stages)
pipelineModel = pipeline.fit(train_data)

In [ ]:
trainprepDF = pipelineModel.transform(train_data)
testprepDF = pipelineModel.transform(test_data)

In [ ]:
from pyspark.ml.classification import LogisticRegression

# Create initial LogisticRegression model
lr = LogisticRegression(labelCol="label", featuresCol="features", maxIter=10)

# Train model with Training Data
lrModel = lr.fit(trainprepDF)

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
predictions = lrModel.transform(testprepDF)
evaluatorLR = BinaryClassificationEvaluator(rawPredictionCol="prediction")
area_under_curve = evaluatorLR.evaluate(predictions)

#default evaluation is areaUnderROC
print("areaUnderROC = %g" % area_under_curve)

evaluatorLR.getMetricName()

In [ ]:
from pyspark.mllib.evaluation import BinaryClassificationMetrics

results = predictions.select(['prediction', 'label'])
 
## prepare score-label set
results_collect = results.collect()
results_list = [(float(i[0]), float(i[1])) for i in results_collect]
predictionAndLabels = sc.parallelize(results_list)
 
metrics = BinaryClassificationMetrics(predictionAndLabels)

# Area under precision-recall curve
print("Area under PR = %s" % metrics.areaUnderPR)

# Area under ROC curve
print("Area under ROC = %s" % metrics.areaUnderROC)

predictions.show(1)

In [ ]:
import pandas as pd
import databricks.koalas as ks

In [ ]:
%fs cp dbfs:/FileStore/tables/accepted_2007_to_2018Q4-1.csv file:/tmp/LaodStats_Q4.csv

In [ ]:
loan_data = ks.read_csv("dbfs:/FileStore/tables/accepted_2007_to_2018Q4-1.csv")
loan_data.head(5)

In [ ]:
loan_data['loan_status'].value_counts()

In [ ]:
ks.sql("select * from {loan_data} where loan_amnt > 20000")